<link rel="stylesheet" href="/styles.css" />
<div class="container">
	<div class="area">
	  
	  <div class="media">
		<a
		   href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"
		   class="btn btn-primary twt">
		  <i class="fab fa-twitter"></i>
		</a>
		
		</a> 
	
	  </div>
	  <br><br>
	  <center><h1 style="color: white;">LOGIN User PAGE</h1></center>
	  <form action="/index1" method="post" id="first" class="input">
		<input type="text" class="credentials" placeholder="USERNAME" id="username" name="username" required style="color: white;"/>
		<input type="password" class="credentials" placeholder="PASSWORD" id="password" name="password" required style="color: white;" />
		<input type="checkbox" class="box" />
		<span class="text">Remember Password</span>
		<button type="submit" class="ok">Log In</button>

	  </form>      
	 
	</div>
	
  </div>
  
  